
google-api-python-client
google-cloud-bigquery
google-api-core
google-cloud-storage
google-auth-httplib2
google-auth
google-cloud-compute
google-cloud-secret-manager
google-auth-oauthlib
google-cloud-pubsub

pyarrow
colorama
pydantic
pytz
tqdm
opencv-python
numpy

uvicorn

gspread
firebase-admin


pandas==1.5.3
pandas-gbq
scikit-learn==1.2.1
xgboost==2.0.0
torch==2.1.0
mlflow==2.7.1



python-dotenv
#torchvision requirements
ftfy


torchvision
-e git+https://github.com/openai/CLIP.git#egg=clip
regex
Unidecode
fastapi




